<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Nuevo Productos</h1>

    <p>Porducto guardado exitosamente</p>

    <ul>
        <li> <spam th:text="${nuevo.getId}"></spam></li>
        <li> <spam th:text="${nuevo.getNombre}"></spam></li>
        <li> <spam th:text="${nuevo.getDescripcion}"></spam></li>
        <li> <spam th:text="${nuevo.getPrecio}"></spam></li>
        <li> <spam th:text="${nuevo.isEnStock}"></spam></li>
    </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>