<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Lista de procutos con Thymeleaf</h1>

<p th:text="${productos}"></p>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto:${productos}">>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio}"></td>
        <td>
            <span th:if="${producto.enStock}" style="color: green">Disponible</span>
            <span th:unless="${producto.enStock}" style="color: red">Agotado</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>